body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.rectangle {
    width: 100px;
    height: 100px;
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    border-radius: 10px;
}
